<form class="ml-4 mr-4" name="eventsform" #eventsform="ngForm">
    <h2>{{ 'settings.sysevents.title' | translate }}</h2>
    <p-card class="m-8">
        <ng-template pTemplate="content">
            @for (event of events; track event; let ix = $index; let isFirst = $first) {
            <div class="w-full">
                <label for="{{event.Key}}" class="label block">{{ event.LocalizedName }}</label>
                <input pInputText id="{{event.Key}}" [(ngModel)]="event.Value" name="{{event.Key}}"
                    class="mb-2 form-control w-full" />
            </div>
            }
        </ng-template>

        <ng-template pTemplate="footer">
            <div class="grid grid-cols-12 gap-4 nogutter">
                <div class="col-span-12">
                    @if (successCount > 0 && successCount == expectedCount && errorCount == 0 && !eventsform.dirty) {
                    <p-message severity="success" text="{{ 'common.savesuccess' | translate }}"></p-message>
                    }
                    @if (this.errorCount > 0) {
                    <p-message severity="error" text="{{ 'common.networkfail' | translate }}"></p-message>
                    }
                </div>
                <p-button class="col pr-1" label="{{'common.save' | translate}}" icon="pi pi-save" iconPos="left"
                    (onClick)="saveForm(); eventsform.form.markAsPristine()"
                    [disabled]="!eventsform.dirty || setupService.schedulingEnabled"></p-button>
            </div>
        </ng-template>
    </p-card>

    <div class="flex justify-end">
        <p-button class="p-4" label="{{ 'common.back' | translate }}"
            (onClick)="router.navigate(['setupwizard/storage-groups'])" icon="pi pi-angle-left"
            iconPos="left"></p-button>
    </div>


</form>