.box {
    display: flex;
    flex-direction: row;
}

.fill {
    flex: 1 0 auto;
    background-color: black;
}

.logo {
    flex: 0 0 auto;
    background-color: black;
}

h2 {
    font-weight: normal;
    font-size: 2.5em;
    margin: .2em;
}

.container {
    display: flex;
    flex-direction: column;
}

.panel {
    flex: 1 0 auto;
    background-color: #546e7a;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .5); /* Subtle shadow for depth */
    margin: 1em;
    margin-bottom: 2em;
    padding: 1em;
}

.head {
    font-weight: normal;
    font-size: 2em;
    color: white;
    padding-bottom: .5em;
}

.detail {
    font-weight: normal;
    font-size: 1.2em;
    color: white;
}

.button {
    flex: 0 0 auto;
    color: black;
    background-color:#26a69a;
    padding: .5em;
    margin: .5em;
}

.button:hover {
    background-color: #2bbdaf
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

