<div class="statusBox">
    <h2>{{ 'dashboard.status.frontends_title' | translate }}</h2>
    @if (frontends?.length != 0) {
    <div>
        <ul class="list-disc list-inside ml-4">
            @for (frontend of frontends; track frontend) {
            <div>
                <li>{{ 'dashboard.status.frontends_detail' |
                    translate: { Name: frontend.Name, IP: frontend.IP, Port: frontend.Port, OnLine: frontend.OnLine } }}
                </li>
            </div>
            }
        </ul>
    </div>
    } @else {
    <p>{{ 'dashboard.status.frontends_none' | translate }}</p>
    }
</div>