<div class="statusBox">
    <h2>{{ 'dashboard.status.backends_title' | translate }}</h2>
    @if (backends?.length != 0) {
    <div>
        <ul class="list-disc list-inside ml-4">
            @for (backend of backends; track backend) {
            <div>
                <li>{{ 'dashboard.status.backends_detail' |
                    translate: { Name: backend.Name, Type: backend.Type, IP: backend.IP } }} </li>
            </div>
            }
        </ul>
    </div>
    } @else {
    <p>{{ 'dashboard.status.backends_none' | translate }}</p>
    }
</div>