<form name="datasources" #datasources="ngForm">
    <p-card>
        <ng-template pTemplate="title">
            {{ 'dashboard.datasources.heading' | translate }}
        </ng-template>
        <ng-template pTemplate="subtitle">
            {{ 'dashboard.datasources.subtitle' | translate }}
        </ng-template>
        <ng-template pTemplate="content">

            <div class="mb-6 w-full">

                <div class="form-group field">
                    <label for="MovieGrabber" class="label block">{{ 'dashboard.datasources.movie_label' |
                        translate }}</label>
                    <p-select appendTo="body" [options]="movieList" [(ngModel)]="MovieGrabber" class="w-full mb-2"
                        name="MovieGrabber" aria-describedby="MovieGrabber-help" optionLabel="Label"
                        optionValue="Value">
                    </p-select>
                    <small class="block mt-2" id="MovieGrabber-help">
                        {{ 'dashboard.datasources.movie_desc' | translate }}
                    </small>
                </div>

                <div class="form-group field">
                    <label for="TelevisionGrabber" class="label block">{{ 'dashboard.datasources.tv_label' |
                        translate }}</label>
                    <p-select appendTo="body" [options]="tvList" [(ngModel)]="TelevisionGrabber" class="w-full mb-2"
                        name="TelevisionGrabber" aria-describedby="TelevisionGrabber-help" optionLabel="Label"
                        optionValue="Value">
                    </p-select>
                    <small class="block mt-2" id="TelevisionGrabber-help">
                        {{ 'dashboard.datasources.tv_desc' | translate }}
                    </small>
                </div>

                <div class="form-group field">
                    <p-checkbox inputId="RerecordWatched" [(ngModel)]="DailyArtworkUpdates" name="DailyArtworkUpdates"
                        class="mb-2 w-full label" [binary]="true" />
                    <label for="RerecordWatched" class="label pl-2">{{ 'dashboard.jobs.speedup_label' | translate
                        }}</label>
                    <small class="block">
                        {{ 'dashboard.datasources.daily_desc' | translate }}
                    </small>
                </div>

            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <div class="grid grid-cols-12 gap-4 nogutter">
                <div class="col-span-12">
                    @if (successCount > 0 && errorCount == 0 && !datasources.dirty) {
                    <p-message severity="success" text="{{ 'common.savesuccess' | translate }}"></p-message>
                    }
                    @if (this.errorCount > 0) {
                    <p-message severity="error" text="{{ 'common.networkfail' | translate }}"></p-message>
                    }
                </div>
                <p-button class="col pr-1" label="{{'common.save' | translate}}" icon="pi pi-save" iconPos="left"
                    (onClick)="saveForm(); markPristine()" severity="success"
                    [disabled]="!datasources.dirty"></p-button>
            </div>
        </ng-template>
    </p-card>
</form>