<div class="wizard-content m-0 md:m-4">
    <form class="mx-0 md:mx-4" name="langform" #langform="ngForm">
        <p-card class="m-0 md:m-8">
            <ng-template pTemplate="title">
                {{ 'setupwizard.localSetup' | translate }}
            </ng-template>
            <ng-template pTemplate="subtitle">
                {{ 'setupwizard.countryAndLanguage' | translate }}
            </ng-template>
            <ng-template pTemplate="content">
                <div class="grid grid-cols-12 gap-4 m-0 md:m-4">
                    <div class="col-span-12 md:col-span-6 pt-2">
                        <p-listbox [options]="m_countries" [(ngModel)]="m_wizardData.Country" [multiple]="false"
                            [filter]="true" optionLabel="Country"
                            [listStyle]="{'max-height':'460px', 'min-height':'460px'}" name="countries">
                            <ng-template pTemplate="header">
                                <h2>{{ 'setupwizard.selectCountry' | translate }}</h2>
                            </ng-template>
                            <ng-template let-country pTemplate="item">
                                <div #countryrow [attr.id]="country.Code" class="language-item">
                                    <img class="pr-4" src="images/locale/{{country.Image}}" style="width:70px">
                                    <pre><span class="font-bold">{{country.Country}}</span>{{country.NativeCountry !== null ? " - " + country.NativeCountry : ""}} ({{ country.Code}})</pre>
                                </div>
                            </ng-template>
                        </p-listbox>
                        @if (((m_wizardData.Country.Code != ''))) {
                        <div class="pt-8">
                            <p-message severity="success"
                                text="{{ 'setupwizard.selectedCountry' | translate }} {{m_wizardData.Country.Country}}">
                            </p-message>
                        </div>
                        } @else {
                        <div class="pt-8">
                            <p-message severity="error" text="{{ 'setupwizard.noCountry' | translate }}"></p-message>
                        </div>
                        }
                    </div>

                    <div class="col-span-12 md:col-span-6">
                        <p-listbox [options]="m_languages" [(ngModel)]="m_wizardData.Language" [multiple]="false"
                            [filter]="true" optionLabel="Language"
                            [listStyle]="{'max-height':'460px', 'min-height':'460px'}" name="languages">
                            <ng-template pTemplate="header">
                                <h2>{{ 'setupwizard.selectLanguage' | translate }}</h2>
                            </ng-template>
                            <ng-template let-language pTemplate="item">
                                <div #languagerow [attr.id]="language.Code" class="language-item">
                                    <img class="pr-4" src="images/locale/{{language.Image}}" style="width:70px">
                                    <pre><span class="font-bold">{{language.Language}}</span> - {{language.NativeLanguage}} ({{language.Code}})</pre>
                                </div>
                            </ng-template>
                        </p-listbox>

                        @if ((m_wizardData.Language.Code != '')) {
                        <div class="pt-8">
                            <p-message severity="success"
                                text="{{ 'setupwizard.selectedLanguage' | translate }} {{m_wizardData.Language.NativeLanguage}}">
                            </p-message>
                        </div>
                        } @else {
                        <div class="pt-8">
                            <p-message class="pt-2" severity="error"
                                text="{{ 'setupwizard.noLanguage' | translate }}"></p-message>
                        </div>
                        }
                    </div>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <div class="grid grid-cols-12 gap-4 nogutter m-8">
                    <div class="col-span-12">
                        @if (successCount > 0 && successCount == expectedCount && errorCount == 0 && !langform.dirty) {
                        <p-message severity="success" text="{{ 'common.savesuccess' | translate }}"></p-message>
                        }
                        @if (this.errorCount > 0) {
                        <p-message severity="error" text="{{ 'common.networkfail' | translate }}"></p-message>
                        }
                    </div>
                    <div class="col-span-12 flex">
                        <p-button class="flex-none pr-1" label="{{'common.save' | translate}}" icon="pi pi-save"
                            iconPos="left" (onClick)="saveForm(); langform.form.markAsPristine()"
                            [disabled]="!langform.dirty || setupService.schedulingEnabled"></p-button>
                        <div class="grow"></div>
                        <p-button class="flex-none pr-4" label="{{ 'common.back' | translate }}"
                            (onClick)="router.navigate(['setupwizard/dbsetup'])" icon="pi pi-angle-left"
                            iconPos="left"></p-button>
                        <p-button class="flex-none" label="{{ 'common.next' | translate }}"
                            (onClick)="router.navigate(['setupwizard/general'])" icon="pi pi-angle-right"
                            iconPos="right"
                            [disabled]="(m_wizardData.Country.Code == '') || (m_wizardData.Language.Code == '')">
                        </p-button>
                    </div>
                </div>
            </ng-template>
        </p-card>
    </form>
</div>