<form class="ml-4 mr-4" name="schedform" #schedform="ngForm">
    @if (recRule) {
    <div #dlg>
        <p-dialog header="{{ 'dashboard.sched.heading' | translate }}" [(visible)]="displayDlg" [modal]="true"
            [style]="{height: '90vw', width: '700px'}" [closable]="false" [closeOnEscape]="false">
            <p> {{ recRule.CallSign }}</p>
            <p> {{ utility.formatDate(recRule.StartTime) }} {{ utility.formatTime(recRule.StartTime) }} -
                {{ utility.formatTime(recRule.EndTime )}}
            </p>
            @if (recRule.Type != 'Recording Template') {
            <div class="form-group field">
                <label for="Template" class="label block">{{ 'dashboard.sched.template_label' | translate
                    }}</label>
                <p-select [options]="templates" [(ngModel)]="templateId" [editable]="false" optionLabel="Title"
                    optionValue="Id" [maxlength]="0" [style]="{'minWidth':'400px'}" name="Template" #Template="ngModel"
                    class="pr-2" (onClick)="templateChange(recRule)" (onChange)="templateChange(recRule)"
                    appendTo="body">
                </p-select>
            </div>
            }
            <div class="form-group field">
                <label for="SearchType" class="label block">{{ 'dashboard.sched.srchtype_label' | translate
                    }}</label>
                <p-select [options]="srchTypeList" [(ngModel)]="recRule.SearchType" [editable]="false"
                    optionLabel="prompt" optionValue="value" [maxlength]="0" [style]="{'minWidth':'400px'}"
                    name="SearchType" #SearchType="ngModel" optionDisabled="inactive" [disabled]="srchTypeDisabled"
                    (onChange)="onSearchTypeChange()" appendTo="body">
                </p-select>
            </div>
            <div class="form-group field">
                <label for="Title" class="label block">{{ 'dashboard.sched.title_label' | translate }}</label>
                <textarea pTextArea id="Title" [(ngModel)]="recRule.Title" name="Title"
                    class="text-lg mb-2 form-control w-full"
                    [disabled]="['Power Search','Manual Search'].indexOf(recRule.SearchType) == -1 && recRule.Type != 'Recording Template' || recRule.Id == defaultTemplate?.Id"
                    (focusout)="onTitleBlur()" [rows]="titleRows">
          </textarea>
            </div>
            @if (recRule.Type != 'Recording Template') {
            <div class="form-group field">
                @if (recRule.SearchType == 'None') {
                <label for="SubTitle" class="label block">
                    {{ 'dashboard.sched.subtitle_label' | translate }}</label>
                }
                @if (recRule.SearchType == 'Power Search') {
                <label for="SubTitle" class="label block">
                    {{ 'dashboard.sched.add_tables_label' | translate }}</label>
                }
                @if (['None','Power Search'].indexOf(recRule.SearchType)>-1) {
                <textarea pTextArea id="SubTitle" [(ngModel)]="recRule.SubTitle" name="SubTitle"
                    class="text-lg mb-2 form-control w-full" [disabled]="recRule.SearchType!='Power Search'"
                    [rows]="subTitleRows">
              </textarea>
                }
            </div>
            }
            <p> @if (recRule.Season && recRule.Episode) {
                <span>S{{ recRule.Season }} E{{recRule.Episode}}</span>
                }
            </p>
            @if (recRule.Type != 'Recording Template') {
            <div class="form-group field">
                <div>
                    @switch (recRule.SearchType) {
                    @case ('None') {
                    <label for="Description" class="label block mb-2">
                        {{ 'dashboard.sched.description_label' | translate }}</label>
                    }
                    @case ('Power Search') {
                    <label for="Description" class="label block mb-2">
                        {{ 'dashboard.sched.sqlwhere_label' | translate }}</label>
                    }
                    @case ('Manual Search') {
                    <label for="Description" class="label block mb-2">
                        {{ 'dashboard.sched.description_label' | translate }}</label>
                    }
                    @default {
                    <label for="Description" class="label block mb-2">
                        {{ 'dashboard.sched.srchValue_label' | translate }}</label>
                    }
                    }
                </div>
                <textarea pTextArea id="Description" [(ngModel)]="recRule.Description" name="Description"
                    class="text-lg mb-2 form-control w-full" (focusout)="onDescriptionBlur()"
                    [disabled]="['None','Manual Search'].indexOf(recRule.SearchType) > -1" [rows]="descriptionRows">
          </textarea>
            </div>
            }
            @if (recRule.SearchType == 'Power Search') {
            <div>
                {{ 'dashboard.sched.powersearch_desc' | translate }}
                <br>
                <!-- Leave Power Search untranslated because the wiki article linked is only in Engliush -->
                <a href="https://wiki.mythtv.org/wiki/Power_Search" target="_blank">Power Search</a>
            </div>
            }
            <!-- Manual Search Settings - Only display on new rule, backend cannot handle an update of starttime -->
            @if (recRule.SearchType == 'Manual Search' && !recRule.Id && !recRule.ParentId) {
            <div>
                <p-divider></p-divider>
                <div class="form-group field">
                    <label for="ChanId" class="label block">{{ 'dashboard.sched.channel_label' | translate
                        }}</label>
                    <p-select [options]="allChannels" [(ngModel)]="channel" [editable]="false" optionLabel="Description"
                        [maxlength]="0" [style]="{'minWidth':'400px'}" name="Channel" (onChange)="onChannelChange()"
                        appendTo="body">
                    </p-select>
                </div>
                <div class="form-group field">
                    <label for="StartTime" class="label block">{{ 'dashboard.sched.starttime_label' | translate
                        }}</label>
                    <p-datepicker [(ngModel)]="this.reqDate" [showTime]="true" [stepMinute]="5"
                        [dateFormat]="'yy/mm/dd'" (onClose)="onDateChange()" (keyup.enter)="onDateChange()"
                        (onBlur)="onDateChange()" [selectOtherMonths]="true" [showIcon]="true" [showOnFocus]="false"
                        [showButtonBar]="true" [clearButtonStyleClass]="'hidden'" name="StartTime">
                    </p-datepicker>
                </div>
                <div class="form-group field">
                    <label for="Duration" class="label block">{{ 'dashboard.sched.duration_label' | translate
                        }}</label>
                    <p-inputNumber [(ngModel)]="reqDuration" name="Duration" id="Duration" [showButtons]="true"
                        [min]="5" [max]="1440" [step]="5" (ngModelChange)="onDurationChange()"></p-inputNumber>
                </div>
            </div>
            }
            <p-divider></p-divider>
            <div class="form-group field">
                <label for="Type" class="label block">{{ 'dashboard.sched.type_label' | translate
                    }}</label>
                <p-select [options]="typeList" [(ngModel)]="recRule.Type" [editable]="false" optionLabel="prompt"
                    optionValue="value" [maxlength]="0" [style]="{'minWidth':'400px'}" name="Type" #Type="ngModel"
                    [disabled]="schedTypeDisabled" appendTo="body">
                </p-select>
            </div>
            <div class="form-group field">
                <label for="RecGroup" class="label block">{{ 'dashboard.sched.recgroup_label' | translate
                    }}</label>
                <p-select [options]="recGroups" [(ngModel)]="recRule.RecGroup" [editable]="true" [maxlength]="64"
                    [style]="{'minWidth':'400px'}" name="RecGroup" #RecGroup="ngModel" appendTo="body">
                </p-select>
            </div>
            <div class="form-group field">
                <p-checkbox inputId="Active" [(ngModel)]="recRule.Inactive" name="Active" #Active="ngModel"
                    class="label mb-2 w-full" [binary]="true" [trueValue]="false" [falseValue]="true"
                    [disabled]="override" />
                <label for="Active" class="label pl-2">{{ 'dashboard.sched.active_label' | translate
                    }}</label>
            </div>
            <div class="form-group field">
                <label for="PlayGroup" class="label block">{{ 'dashboard.sched.playgroup_label' | translate
                    }}</label>
                <p-select [options]="playGroups" [(ngModel)]="recRule.PlayGroup" [editable]="false" [maxlength]="0"
                    [style]="{'minWidth':'400px'}" PlayGroup="Type" #PlayGroup="ngModel" name="PlayGroup"
                    appendTo="body">
                </p-select>
            </div>
            <div class="form-group field">
                <label for="StartOffset" class="label block">{{ 'dashboard.sched.startoffset_label' | translate
                    }}</label>
                <p-inputNumber [(ngModel)]="recRule.StartOffset" name="StartOffset" id="StartOffset"
                    [showButtons]="true" [min]="-480" [max]="480" [step]="1"></p-inputNumber>
            </div>
            <div class="form-group field">
                <label for="EndOffset" class="label block">{{ 'dashboard.sched.endoffset_label' | translate
                    }}</label>
                <p-inputNumber [(ngModel)]="recRule.EndOffset" name="EndOffset" id="EndOffset" [showButtons]="true"
                    [min]="-480" [max]="480" [step]="1"></p-inputNumber>
            </div>
            <div class="form-group field">
                <p-checkbox inputId="NewEpisOnly" [(ngModel)]="recRule.NewEpisOnly" name="NewEpisOnly" #UseEIT="ngModel"
                    class="label mb-2 w-full" [binary]="true" />
                <label for="NewEpisOnly" class="label pl-2">{{ 'dashboard.sched.newepis_label' | translate
                    }}</label>
            </div>
            <div class="form-group field">
                <label for="RecPriority" class="label block">{{ 'dashboard.sched.priority_label' | translate
                    }}</label>
                <p-inputNumber [(ngModel)]="recRule.RecPriority" name="RecPriority" id="RecPriority"
                    [showButtons]="true" [min]="-100" [max]="100" [step]="1"></p-inputNumber>
            </div>
            <div class="form-group field">
                <label for="PreferredInput" class="label block">{{ 'dashboard.sched.prefinput_label' | translate
                    }}</label>
                <p-select [options]="inputList.Inputs" [(ngModel)]="recRule.PreferredInput" [editable]="false"
                    optionLabel="DisplayName" optionValue="Id" [maxlength]="0" [style]="{'minWidth':'400px'}"
                    name="PreferredInput" #PreferredInput="ngModel" appendTo="body">
                </p-select>
            </div>
            <div class="form-group field">
                <label for="DupMethod" class="label block">{{ 'dashboard.sched.dupmethod_label' | translate
                    }}</label>
                <p-select [options]="dupMethodList" [(ngModel)]="recRule.DupMethod" [editable]="false"
                    optionLabel="prompt" optionValue="value" [maxlength]="0" [style]="{'minWidth':'400px'}"
                    name="DupMethod" #DupMethod="ngModel" appendTo="body">
                </p-select>
            </div>
            <div class="form-group field">
                <label for="DupIn" class="label block">{{ 'dashboard.sched.dupin_label' | translate
                    }}</label>
                <p-select [options]="dupInList" [(ngModel)]="recRule.DupIn" [editable]="false" optionLabel="prompt"
                    optionValue="value" [maxlength]="0" [style]="{'minWidth':'400px'}" name="DupIn" #DupIn="ngModel"
                    appendTo="body">
                </p-select>
            </div>
            <div class="form-group field">
                <label for="AutoExtend" class="label block">{{ 'dashboard.sched.autoextend_label' | translate
                    }}</label>
                <p-select [options]="autoExtendList" [(ngModel)]="recRule.AutoExtend" [editable]="false"
                    optionLabel="prompt" optionValue="value" [maxlength]="0" [style]="{'minWidth':'400px'}"
                    name="AutoExtend" #AutoExtend="ngModel" appendTo="body">
                </p-select>
            </div>
            <div class="form-group field">
                <label for="Filters" class="label block">{{ 'dashboard.sched.filters_label' | translate
                    }}</label>
                <p-multiSelect [options]="recRuleFilters" [(ngModel)]="selectedFilters" optionLabel="Description"
                    optionValue="Id" [style]="{'minWidth':'400px', maxHeight:'400px', maxWidth: '640px'}" name="Filters"
                    #Filters="ngModel" (onChange)="filterToRec(recRule)"></p-multiSelect>
            </div>
            <div class="form-group field">
                <label for="RecProfile" class="label block">{{ 'dashboard.sched.recprofile_label' | translate
                    }}</label>
                <p-select [options]="recProfileList" [(ngModel)]="recRule.RecProfile" [editable]="false"
                    optionLabel="prompt" optionValue="value" [maxlength]="0" [style]="{'minWidth':'400px'}"
                    name="RecProfile" #RecProfile="ngModel" appendTo="body">
                </p-select>
            </div>
            <div class="form-group field">
                <label for="StorageGroup" class="label block">{{ 'dashboard.sched.sgroup_label' | translate
                    }}</label>
                <p-select [options]="recStorageGroups" [(ngModel)]="recRule.StorageGroup" [editable]="false"
                    [maxlength]="0" [style]="{'minWidth':'400px'}" name="StorageGroup" #StorageGroup="ngModel"
                    appendTo="body">
                </p-select>
            </div>
            <div class="form-group field">
                <label for="MaxEpisodes" class="label block">{{ 'dashboard.sched.maxeps_label' | translate
                    }}</label>
                <p-inputNumber [(ngModel)]="recRule.MaxEpisodes" name="MaxEpisodes" id="MaxEpisodes"
                    [showButtons]="true" [min]="0" [max]="100" [step]="1"></p-inputNumber>
            </div>
            <div class="form-group field">
                <p-checkbox inputId="MaxNewest" [(ngModel)]="recRule.MaxNewest" name="MaxNewest" #MaxNewest="ngModel"
                    class="label mb-2 w-full" [binary]="true" />
                <label for="MaxNewest" class="label pl-2">{{ 'dashboard.sched.maxnewest_label' | translate
                    }}</label>
                <small class="block">
                    {{ 'dashboard.sched.maxnewest_desc' | translate }}
                </small>
            </div>
            <div class="form-group field">
                <p-checkbox inputId="AutoExpire" [(ngModel)]="recRule.AutoExpire" name="AutoExpire"
                    #AutoExpire="ngModel" class="label mb-2 w-full" [binary]="true" />
                <label for="AutoExpire" class="label pl-2">{{ 'dashboard.sched.autoexpire_label' | translate
                    }}</label>
            </div>
            <div class="form-group field">
                <label for="PostProc" class="label block">{{ 'dashboard.sched.postproc_label' | translate
                    }}</label>
                <p-multiSelect [options]="postProcList" [(ngModel)]="selectedPostProc" optionLabel="prompt"
                    optionValue="value" [style]="{'minWidth':'400px', maxHeight:'400px', maxWidth: '640px'}"
                    name="PostProc" #PostProc="ngModel" [filter]="true"
                    (onChange)="postProcToRec(recRule)"></p-multiSelect>
            </div>
            @if (recRule.Type != 'Recording Template') {
            <div class="form-group field">
                <label for="Inetref" class="label block">{{ 'dashboard.sched.inetref_label' | translate }}</label>
                <div class="grid grid-cols-12 gap-4 p-0">
                    <div class="col-span-5 flex items-center">
                        <p-radioButton name="prefix" value="ttvdb4.py_" [(ngModel)]="metaPrefix" inputId="ttvdb"
                            (ngModelChange)="iCheckbox(recRule)"></p-radioButton>
                        <label for="ttvdb"><img src="images/metadata/thetvdb.png" alt="thtvdb"
                                class="h-10 pl-2"></label>
                    </div>
                    <div class="col-span-7 flex items-center">
                        <a href="{{ URLencode('https://thetvdb.com/search?query='+recRule.Title) }}" target="_blank"
                            class="font-medium text-blue-600 hover:underline visited:text-purple-600">
                            {{ 'dashboard.sched.isearch' | translate }} thetvdb.com</a>
                        <br>
                    </div>
                    <div class="col-span-5 flex items-center">
                        <p-radioButton name="prefix" value="tvmaze.py_" [(ngModel)]="metaPrefix" inputId="tvmaze"
                            (ngModelChange)="iCheckbox(recRule)"></p-radioButton>
                        <label for="tvmaze"><img src="images/metadata/tvmaze.png" alt="tvmaze"
                                class="h-10 pl-2"></label>
                    </div>
                    <div class="col-span-7 flex items-center">
                        <a href="{{ URLencode('https://www.tvmaze.com/search?q='+recRule.Title) }}" target="_blank"
                            class="font-medium text-blue-600 hover:underline visited:text-purple-600">
                            {{ 'dashboard.sched.isearch' | translate }} tvmaze.com</a>
                        <br>
                    </div>
                    <div class="col-span-5 flex items-center">
                        <p-radioButton name="prefix" value="tmdb3.py_" [(ngModel)]="metaPrefix" inputId="tmdb"
                            (ngModelChange)="iCheckbox(recRule)"></p-radioButton>
                        <label for="tmdb"><img src="images/metadata/themoviedb.svg" alt="themoviedb"
                                class="h-10 pl-2"></label>
                    </div>
                    <div class="col-span-7 flex items-center">
                        <a href="{{ URLencode('https://www.themoviedb.org/search?query='+recRule.Title) }}"
                            target="_blank" class="font-medium text-blue-600 hover:underline visited:text-purple-600">
                            {{ 'dashboard.sched.isearch' | translate }} themoviedb.org</a>
                        <br>
                    </div>
                </div>
                {{ metaPrefix }} &nbsp;
                <input pInputText id="Inetref" [(ngModel)]="recRule.Inetref" name="Inetref" #Inetref="ngModel"
                    class="mb-2 form-control w-full" (ngModelChange)="iText(recRule)" />
                <small class="block">
                    {{ 'dashboard.sched.inetref_desc' | translate }}<br>
                </small>
            </div>
            }
            <ng-template pTemplate="footer">
                <div class="col-span-12" style="text-align: left;">
                    @if (successCount > 0 && errorCount == 0 && !schedform.dirty) {
                    <p-message severity="success" text="{{ 'common.savesuccess' | translate }}"></p-message>
                    }
                    @if (errorCount > 0) {
                    <p-message severity="error"
                        text="{{ 'common.backenderror' | translate }}:  {{errortext}}"></p-message>
                    }
                </div>
                <p-popover #overlay>
                    <p-scrollPanel [style]="{ width: '650px', height: '70vh' }" [step]="100">
                        <div [innerHTML]='fullDetails'></div>
                    </p-scrollPanel>
                </p-popover>
                @if (recRule.Type != 'Recording Template') {
                <p-button icon="pi pi-list" (onClick)="detailsreq($event)"
                    label="{{ 'dashboard.sched.fulldetails' | translate }}" severity="info">
                </p-button>
                }
                <p-button icon="pi pi-times-circle" (onClick)="close()" label="{{ 'common.close' | translate }}"
                    severity="warn">
                </p-button>
                <p-button icon="pi pi-check-circle" (onClick)="save();" label="{{ 'common.save' | translate }}"
                    severity="success"
                    [disabled]="!schedform.dirty || recRule.Id == 0 && recRule.Type == 'Not Recording' || !recRule.Title || schedTypeDisabled"></p-button>
            </ng-template>
        </p-dialog>
        <p-dialog header="{{ 'common.unsaved_heading' | translate }}" [(visible)]="displayUnsaved" [modal]="true">
            <p>{{ 'common.unsaved_message' | translate }}</p>
            <ng-template pTemplate="footer">
                <p-button icon="pi pi-times-circle" (onClick)="close()" label="{{ 'common.nosave' | translate }}"
                    severity="danger">
                </p-button>
                <p-button icon="pi pi-check-circle" (onClick)="displayUnsaved=false"
                    label="{{ 'common.continue' | translate }}" severity="success">
                </p-button>
            </ng-template>
        </p-dialog>
    </div>
    }
</form>