<div class="block card w-full">
    <h3>{{ 'settings.rprofiles.grouptitle' | translate }} {{ group.Name }}</h3>

    <p-button label="{{ 'settings.rprofiles.new_profile' | translate }}" (onClick)="displayNewDialog = true"
        icon="pi pi-plus-circle" styleClass="p-button-plain"></p-button>
    <p-dialog header="{{ 'settings.rprofiles.new_profile' | translate }}" [(visible)]="displayNewDialog" [modal]="true"
        [style]="{width: '50vw'}" [draggable]="false" [resizable]="false">
        <p>{{ 'settings.rprofiles.enter_profile_name' | translate }}</p>
        <input pInputText id="Name" [(ngModel)]="newProfileName" name="Name" #Name="ngModel"
            class="mb-2 form-control w-full" autofocus />

        <ng-template pTemplate="footer">
            <p-button icon="pi pi-times-circle" (onClick)="displayNewDialog=false"
                label="{{ 'common.cancel' | translate }}" severity="warn">
            </p-button>
            <p-button icon="pi pi-check-circle" (onClick)="newProfile();" label="{{ 'common.ok' | translate }}"
                severity="primary" [disabled]="rejectName()">
            </p-button>
        </ng-template>
    </p-dialog>

    <div class="grid grid-cols-12 gap-4 nogutter">
        @if (this.expectedCount && this.successCount == this.expectedCount) {
        <div class="col-span-12">
            <br>
            <p-message severity="success" text="{{ 'settings.common.successful_delete' | translate }}">
            </p-message>
            <br>
        </div>
        }
        @if (this.errorCount > 0) {
        <div class="col-span-12">
            <br>
            <p-message severity="error" text="{{ 'common.networkfail' | translate }}">
            </p-message>
            <br>
        </div>
        }
    </div>

    <p-accordion class="col-span-12 w-full" (onClose)="onTabClose($event)" (onOpen)="onTabOpen($event)">
        @for (profile of group.RecProfiles; track $index; let ix = $index) {
        <p-accordion-panel [value]="ix">
            <p-accordion-header>
                {{ profile.Name }}
                {{dirtyMessages[ix]}}
            </p-accordion-header>
            <p-accordion-content>
                <p-button styleClass="p-button-warning" label="{{ 'settings.rprofiles.delete_this' | translate }}"
                    icon="pi pi-trash" (onClick)="displayDeleteThis[ix]=true"
                    [disabled]="!group.RecProfiles[ix].Id || setupService.schedulingEnabled">
                </p-button>
                <p-dialog header="{{ 'settings.rprofiles.delete_this' | translate }}"
                    [(visible)]="displayDeleteThis[ix]" [modal]="true" [style]="{width: '50vw'}" [draggable]="false"
                    [resizable]="false">
                    <h2>{{ 'settings.common.ru_sure' | translate }}</h2>
                    <p>{{ 'settings.rprofiles.delete_details' |
                        translate: { ProfileName: group.RecProfiles[ix].Name,
                        GroupName: group.Name } }}</p>
                    <ng-template pTemplate="footer">
                        <p-button icon="pi pi-times-circle" (click)="displayDeleteThis[ix]=false"
                            label="{{ 'common.no' | translate }}" severity="primary">
                        </p-button>
                        <p-button icon="pi pi-check-circle" (click)="deleteThis(ix)"
                            label="{{ 'common.yes' | translate }}" severity="primary"></p-button>
                    </ng-template>
                </p-dialog>
                <app-recprofile [profile]="profile" [group]="group" [parent]="this" [tabIndex]="ix"></app-recprofile>
            </p-accordion-content>
        </p-accordion-panel>
        }
    </p-accordion>
</div>