<p-card class="md:m-8">
    <h2>{{ 'settings.rprofiles.title' | translate }}</h2>

    <p-accordion class="col-span-12 w-full" (onOpen)="onTabOpen($event)" (onClose)="onTabClose($event)">
        @for (group of groups; track $index; let ix = $index) {
        <p-accordion-panel [value]="ix">
            <p-accordion-header>
                {{group.Name}}
                {{dirtyMessages[ix]}}
            </p-accordion-header>
            <p-accordion-content>
                @if (currentTab == ix || isLoaded[ix]) {
                <app-profile-group [group]="group" [parent]="this" [tabIndex]="ix"></app-profile-group>
                }
            </p-accordion-content>
        </p-accordion-panel>
        }
    </p-accordion>

    <div class="flex justify-end">
        <p-button class="p-4" label="{{ 'common.back' | translate }}"
            (onClick)="router.navigate(['setupwizard/capture-cards'])" icon="pi pi-angle-left"
            iconPos="left"></p-button>

        <p-button class="p-4" label="{{ 'common.next' | translate }}"
            (onClick)="router.navigate(['setupwizard/video-sources'])" icon="pi pi-angle-right"
            iconPos="right"></p-button>
    </div>

</p-card>