<p-card class="m-8">
    <h2>{{ 'settings.sgroups.title' | translate }}</h2>

    <p-button label="New Storage Group" (onClick)="displayNewDlg = true" icon="pi pi-plus-circle"
        styleClass="p-button-plain"></p-button>
    <p-dialog header="New Storage Group" [(visible)]="displayNewDlg" [modal]="true" [style]="{width: '50vw'}"
        [draggable]="false" [resizable]="false">
        <p>{{ 'settings.sgroups.name_prompt' | translate }}</p>
        <div class="form-group field">
            <label for="GroupName" class="block">{{ 'settings.sgroups.name_label' | translate }}</label>
            <input pInputText id="GroupName" [(ngModel)]="newGroupName" name="GroupName" #GroupName="ngModel"
                class="mb-2 form-control w-full" />
            <small class="block">
            </small>
        </div>
        <ng-template pTemplate="footer">
            <p-button icon="pi pi-times-circle" (onClick)="displayNewDlg=false"
                label="{{ 'common.cancel' | translate }}" styleClass="p-button-plain">
            </p-button>
            <p-button icon="pi pi-check-circle" (onClick)="newGroup();" label="{{ 'common.ok' | translate }}"
                styleClass="p-button-plain" [disabled]="newGroupName == ''"></p-button>
        </ng-template>
    </p-dialog>
    <br>
    <p-accordion class="col-span-12 w-full" (onClose)="onTabClose($event)" (onOpen)="onTabOpen($event)">
        @for (group of storageGroups; track $index; let ix = $index) {
        <p-accordion-panel [value]="ix">
            <p-accordion-header>
                @if (storageGroups[ix].DirNames.length == 0) {
                <span [translate]="'settings.sgroups.tab_create_title'"
                    [translateParams]="{name: storageGroups[ix].LocalizedName}"></span>
                } @else {
                {{storageGroups[ix].LocalizedName}}
                }
                {{dirtyMessages[ix]}}
            </p-accordion-header>
            <p-accordion-content>
                <app-sgroup [sgroup]="storageGroups[ix]" [hostName]="hostName" [parent]="this"
                    [tabIndex]="ix"></app-sgroup>
            </p-accordion-content>
        </p-accordion-panel>
        }
    </p-accordion>

    <div class="flex justify-end">
        <p-button class="p-4" label="{{ 'common.back' | translate }}"
            (onClick)="router.navigate(['setupwizard/channel-editor'])" icon="pi pi-angle-left"
            iconPos="left"></p-button>

        <p-button class="p-4" label="{{ 'common.next' | translate }}"
            (onClick)="router.navigate(['setupwizard/system-events'])" icon="pi pi-angle-right"
            iconPos="right"></p-button>
    </div>

</p-card>