<span #top></span>
<div>
    <h1>{{ 'settings.main.title' | translate }}</h1>
    <div class="flex flex-row">
        <div class="shrink overflow-auto">
            <p-tabs [scrollable]="true" [selectOnFocus]="true">
                <p-tablist>
                    @for (tab of fullMenu; track tab.routerLink; let ix = $index) {
                    <p-tab [routerLink]="tab.routerLink">
                        <span [ngClass]="tabClass[ix]">{{tab.label}}</span>
                    </p-tab>
                    }
                </p-tablist>
            </p-tabs>
        </div>
    </div>
    <app-backend-warning></app-backend-warning>
    <router-outlet></router-outlet>
</div>