<form class="ml-4 mr-4" name="importform" #importform="ngForm">
    <span #top></span>
    <p-card class="m-8">
        <ng-template pTemplate="title">
            {{ 'settings.capture.import.title' | translate }}
        </ng-template>
        <ng-template pTemplate="subtitle">
        </ng-template>
        <ng-template pTemplate="content">
            <div class="mb-6 w-full">
                <div class="form-group field">
                    <label for="VideoDevice" class="label block">{{ 'settings.capture.import.file_label' | translate
                        }}</label>
                    <input pInputText id="VideoDevice" [(ngModel)]="card.VideoDevice" name="VideoDevice"
                        #VideoDevice="ngModel" class="mb-2 form-control w-full" />
                    <small class="block">
                        {{ 'settings.capture.import.file_desc' | translate }}
                    </small>
                </div>
            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <div class="grid grid-cols-12 gap-4 nogutter">
                <div class="col-span-12">
                    @if (this.work.successCount > 0 && this.work.errorCount == 0 && !importform.dirty) {
                    <p-message severity="success" text="{{ 'common.savesuccess' | translate }}"></p-message>
                    }
                    @if (this.work.errorCount > 0) {
                    <p-message severity="error" text="{{ 'common.networkfail' | translate }}"></p-message>
                    }
                </div>
                <p-button class="col pr-1" label="{{'common.save' | translate}}" icon="pi pi-save" iconPos="left"
                    (onClick)="saveForm(); markPristine()"
                    [disabled]="!importform.dirty || !card.VideoDevice || setupService.schedulingEnabled"></p-button>
            </div>
        </ng-template>
    </p-card>
</form>